.experience {

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & time {
            font-weight: bold;
        } 
        
        & .position {
            font-size: 1.1rem;
        }
    
        & .place {
            font-weight: normal;
            margin-top: 5px;
            font-size: 1rem;
        }
    }

    & .responsabilities  {

        box-shadow: 0px 0px 7px black;
        margin-top: 2rem;
        background: #eee;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid black;

        & li {
            text-transform: uppercase;
            list-style: none;
            text-align: justify;
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
        }
    }

}

@media (width <= 700px) {
    .experience {

        & header {
            flex-direction: column;
            text-align: center;
        }
        
        .date {
            margin-top: 1rem;
        }
    }
}