.experience {

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & time {
            font-weight: bold;
        } 

    }

    & h2 {
        font-size: 1.1rem;
    }

    & h3 {
        margin-top: 5px;
        font-size: 1rem;
    }

    & ul  {

        margin-top: 2rem;

        & li {
            list-style: none;
            text-align: justify;
            margin-top: 10px;
        }
    }

}

@media (width <= 700px) {
    .experience {

        & header {
            display: block;
            text-align: center;
        }

        & ul > li {
           margin-top: 2rem;
           text-align: justify;
        }

    }
}