.info {

    & .myName {
        font-size: 2rem;
    }

    & .position {
        font-size: 1.2rem;
    }
    
    & .buttons {
        color: #555;
        display: flex;
        gap: 10px;
        margin-top: 8px;
    
        & a {
            font-size: 12px;
            text-decoration: none;
            background: none;
            color: black;
            border: 1px solid #eee;
            padding: 4px;
            border-radius: 6px;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
        }
    
        & a:hover{
            background-color: #f5f5f5;
        }
        
    }   
}



@media (width <= 700px) {
    .info {
            justify-content: center;
            align-items: center;
            text-align: center;

            & h2 {
                margin-top: 1rem;
            }

            & footer {
                flex-direction: column;
                margin-top: 2rem;
                width: auto;
            }

    }
  }
