
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-inline: -20px;
    list-style: none;

        & article {
            border: 1px solid rgb(182, 182, 182);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 5px;
            padding: 10px;
            height: 100%;
    
            & p {
                text-align: justify;
                margin-top: 10px;
                font-size: 0.7rem;
                line-height: 1rem;
            }

        }


    & footer {
        display: flex;
        flex-wrap: wrap;
        font-size: .7rem;

        & span {
            background: #eee;
            border-radius: 5px;
            padding: 3px;
        }
        
    }

}

@media (width <= 700px) {
    .projects {
      margin-inline: 0px;
      
        & li {
            margin-top: 20px;
        }

    }

  }

